* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.title {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.field__word {
  display: flex;
  gap: 20px;
  margin: 0;
  list-style: none;
}
.field__word_letter {
  width: 60px;
  border-bottom: 3px solid black;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
.field__hint {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}
.field__guess {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}
.field__keyboard {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.field__keyboard_line {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.field__keyboard_key {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: darkslateblue;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 60px;
}