*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

td,
table,
ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

.container {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.field {
  border: 2px solid black;
  border-collapse: collapse;
}
.field__up_nothing {
  background-color: darkgray;
}
.field__up_clues {
  border: 1px solid black;
}
.field__down_clues {
  border: 1px solid black;
}
.field__down_game {
  border: 1px solid black;
}

.clues {
  border: 0;
  border-collapse: collapse;
}
.clues__cell {
  background-color: darkgray;
}
.clues__cell_up:nth-child(5n) {
  border-right-width: 3px;
}
.clues__left:nth-child(5n) {
  border-bottom: 3px solid #606060;
}

.game {
  border: 0;
  border-collapse: collapse;
}
.game__cell {
  cursor: pointer;
}
.game__cell:nth-child(5n) {
  border-right-width: 3px;
}
.game__cell_black {
  background-color: black;
}
.game__cell_cross:before, .game__cell_cross:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background: black;
}
.game__cell_cross:before {
  transform: translate(-50%) rotate(45deg);
}
.game__cell_cross:after {
  transform: translate(-50%) rotate(-45deg);
}
.game__row:nth-child(5n) {
  border-bottom: 3px solid #606060;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #606060;
  border-collapse: collapse;
  text-align: center;
  font-size: 2rem;
}

.selection__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 2rem;
  gap: 50px;
  flex-wrap: wrap;
}

.button {
  width: 300px;
  height: 100px;
  font-size: 2rem;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 2rem;
}
.timer__minutes:after {
  content: ":";
  position: absolute;
}