*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --lightMain: #d8d8d8;
  --lightText: #1c1c1c;
  --lightButton: #b1b1b1;
  --lightLighter: #ebebeb;
}

[dark] {
  --lightMain: #505050;
  --lightText: #e8e8e8;
  --lightButton: #858585;
  --lightLighter: #2e2e2e;
}

td,
table,
ul {
  padding: 0;
  margin: 0;
}

.title {
  font-size: 3rem;
  color: var(--lightText);
}

.body {
  background: url(../assets/img/background.jpg) no-repeat center top fixed;
  background-size: cover;
}
.body__dark {
  background: url(../assets/img/background-darken.jpg) no-repeat center top fixed;
  background-size: cover;
}

.container {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  color: var(--lightText);
}

.field {
  border: 2px solid var(--lightText);
  border-collapse: collapse;
}
.field__up_nothing {
  background-color: var(--lightLighter);
}
.field__up_clues {
  border: 1px solid var(--lightText);
}
.field__down_clues {
  border: 1px solid var(--lightText);
}
.field__down_game {
  border: 1px solid var(--lightText);
}

.clues {
  border: 0;
  border-collapse: collapse;
}
.clues__cell {
  background-color: var(--lightLighter);
}
.clues__cell_up:nth-child(5n) {
  border-right-width: 3px;
}
.clues__left:nth-child(5n) {
  border-bottom: 3px solid #606060;
}

.game {
  border: 0;
  border-collapse: collapse;
}
.game__cell {
  cursor: pointer;
}
.game__cell:nth-child(5n) {
  border-right-width: 3px;
}
.game__cell_black {
  background-color: #1c1c1c;
}
.game__cell_cross:before, .game__cell_cross:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background: var(--lightText);
}
.game__cell_cross:before {
  transform: translate(-50%) rotate(45deg);
}
.game__cell_cross:after {
  transform: translate(-50%) rotate(-45deg);
}
.game__row:nth-child(5n) {
  border-bottom: 3px solid #606060;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #606060;
  border-collapse: collapse;
  text-align: center;
  font-size: 2rem;
}

.selection {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 200px;
  height: 30px;
  font-size: 20px;
  background-color: var(--lightButton);
  color: var(--lightText);
  border: 1px solid var(--lightText);
  border-radius: 15px;
  cursor: pointer;
}
.button:hover {
  background-color: var(--lightMain);
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 2rem;
  align-self: center;
}
.timer__minutes:after {
  content: ":";
  position: absolute;
}

.name {
  font-size: 2rem;
}

.results {
  font-size: 20px;
}
.results__cell {
  width: 200;
  padding: 5px;
  border: 1px solid var(--lightText);
}

.gamefield {
  display: flex;
  gap: 50px;
  padding: 20px;
  background-color: var(--lightMain);
  border-radius: 20px;
}
.gamefield__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.gamefield__dark {
  background-color: #505050;
}

.size {
  position: relative;
  display: inline-block;
  border: 1px solid var(--lightText);
  height: 30px;
  border-radius: 15px;
}
.size__button {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  background-color: var(--lightButton);
  color: var(--lightText);
  height: 100%;
}
.size:hover .size__variants {
  display: block;
}
.size__variants {
  display: none;
  border: 1px solid var(--lightText);
  border-radius: 15px;
  overflow: hidden;
  position: absolute;
  min-width: 200px;
  z-index: 1;
}
.size__variant {
  background-color: var(--lightButton);
  padding: 5px 5px;
  display: block;
  cursor: pointer;
}
.size__variant:hover {
  background-color: var(--lightMain);
}

.figures__list {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.figures__list_button {
  color: var(--lightText);
  cursor: pointer;
  background-color: var(--lightButton);
  border: 1px solid var(--lightText);
  height: 30px;
  border-radius: 15px;
}
.figures__list_button:hover {
  background-color: var(--lightMain);
}

.arrow {
  width: 15px;
}

.bestResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: var(--lightMain);
  border-radius: 20px;
}
.bestResults__tag {
  font-size: 20px;
  font-weight: 600;
}