body {
    color: #fff;
    background: #17181c;
    background: linear-gradient(rgb(5, 5, 72), rgb(255, 190, 200));
    min-height: 100vh;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
    display: flex;
    justify-content: center;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
    color: rgb(255, 190, 200);
    text-shadow: 0 0 20px rgb(255, 190, 200);
    -moz-text-shadow: 0 0 20px rgb(255, 190, 200);
    -webkit-text-shadow: 0 0 20px rgb(255, 190, 200);
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

footer .year {
    font-size: 14px;
    color: #333;
    text-align: center;
}

.rsschool {
    width: 100px;
    height: 50px;
}
