.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 25px;
  background: rgba(145, 143, 128, 0.6);
  border-radius: 40px;

  &__name,
  &__surname {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
  }

  &__label {
    font-size: 20px;
    font-weight: 700;
    color: rgba(248, 246, 255, 0.776);
  }

  &__input {
    width: 200px;
    height: 40px;
    border: 0px;
    border-radius: 15px;
    padding-left: 10px;
    background: rgba(248, 246, 255, 0.776);
    font-size: 20px;
    font-weight: 400;
    color: #333333;

    &--invalid {
      outline: 1px solid red !important;
    }

    &:focus {
      // outline: 1px solid #333333;
      outline: none;
    }
  }

  &__error {
    // position: absolute;
    font-size: 16px;
    font-weight: 400;
    color: red;
  }

  &__button {
    width: 100px;
    height: 40px;
    border: 0px;
    background: rgba(248, 246, 255, 0.776);
    color: #333333;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    &--disabled {
      opacity: 0.5;
      cursor: default;
      &:hover {
        background: rgba(248, 246, 255, 0.776) !important;
        color: #333333 !important;
      }
    }
    &:hover {
      background: #333333;
      color: rgba(248, 246, 255, 0.776);
    }
  }
}

.invisible {
  display: none;
}
