@import "./reset";

td,
table,
ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

body {
  background: url(../assets/img/background.jpg) no-repeat center top fixed;
  background-size: cover;
}

.container {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.field {
  border: 2px solid black;
  border-collapse: collapse;
  &__up {
    &_nothing {
      background-color: darkgray;
    }
    &_clues {
      border: 1px solid black;
    }
  }
  &__down {
    &_clues {
      border: 1px solid black;
    }
    &_game {
      border: 1px solid black;
    }
  }
}

.clues {
  border: 0;
  border-collapse: collapse;
  &__cell {
    background-color: darkgray;
    &_up {
      &:nth-child(5n) {
        border-right-width: 3px;
      }
    }
  }
  &__left {
    &:nth-child(5n) {
      border-bottom: 3px solid #606060;
    }
  }
}

.game {
  border: 0;
  border-collapse: collapse;
  &__cell {
    cursor: pointer;
    &:nth-child(5n) {
      border-right-width: 3px;
    }
    &_black {
      background-color: black;
    }
    &_cross {
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 4px;
        background: black;
      }
      &:before {
        transform: translate(-50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%) rotate(-45deg);
      }
    }
  }
  &__row {
    &:nth-child(5n) {
      border-bottom: 3px solid #606060;
    }
  }
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #606060;
  border-collapse: collapse;
  text-align: center;
  font-size: 2rem;
}

.selection {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 200px;
  height: 30px;
  font-size: 20px;
  background-color: darkgray;
  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
  &:hover {
    background-color: #d8d8d8;
  }
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 2rem;
  align-self: center;
  &__minutes:after {
    content: ":";
    position: absolute;
  }
}

.name {
  font-size: 2rem;
}

.results {
  font-size: 20px;
  &__cell {
    width: 200;
    padding: 5px;
    border: 1px solid black;
  }
}

.gamefield {
  display: flex;
  gap: 50px;
  padding: 20px;
  background-color: #d8d8d8;
  border-radius: 20px;
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.size {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  height: 30px;
  border-radius: 15px;
  &__button {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    background-color: #d8d8d8;
    height: 100%;
  }
  &:hover &__variants {
    display: block;
  }
  &__variants {
    display: none;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    min-width: 200px;
    z-index: 1;
  }
  &__variant {
    color: black;
    background-color: #d8d8d8;
    padding: 5px 5px;
    display: block;
    cursor: pointer;
    &:hover {
      background-color: darkgray;
    }
  }
}

.figures {
  &__list {
    list-style-type: none;
    display: flex;
    gap: 20px;
    &_button {
      &:hover {
        background-color: darkgray;
      }
      cursor: pointer;
      background-color: #d8d8d8;
      border: 1px solid black;
      height: 30px;
      border-radius: 15px;
    }
  }
}

.arrow {
  width: 15px;
}

.bestResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #d8d8d8;
  border-radius: 20px;
  &__tag {
    font-size: 20px;
    font-weight: 600;
  }
}
