@import "./reset";

:root {
  --lightMain: #d8d8d8;
  --lightText: #1c1c1c;
  --lightButton: #b1b1b1;
  --lightLighter: #ebebeb;
}

[dark] {
  --lightMain: #505050;
  --lightText: #e8e8e8;
  --lightButton: #858585;
  --lightLighter: #2e2e2e;
}

td,
table,
ul {
  padding: 0;
  margin: 0;
}

.title {
  font-size: 3rem;
  color: var(--lightText);
  // &__dark {
  //   color: $darkText;
  // }
}

.body {
  background: url(../assets/img/background.jpg) no-repeat center top fixed;
  background-size: cover;
  &__dark {
    background: url(../assets/img/background-darken.jpg) no-repeat center top fixed;
    background-size: cover;
  }
}

.container {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  color: var(--lightText);
  // &__dark {
  //   color: $darkText;
  // }
}

.field {
  border: 2px solid var(--lightText);
  border-collapse: collapse;
  &__up {
    &_nothing {
      background-color: var(--lightLighter);
      // &_dark {
      //   background-color: $darkDarker; // менять
      // }
    }
    &_clues {
      border: 1px solid var(--lightText);
    }
  }
  &__down {
    &_clues {
      border: 1px solid var(--lightText);
    }
    &_game {
      border: 1px solid var(--lightText);
    }
  }
}

.clues {
  border: 0;
  border-collapse: collapse;
  &__cell {
    background-color: var(--lightLighter);
    &_up {
      &:nth-child(5n) {
        border-right-width: 3px;
      }
    }
    // &_dark {
    //   color: $darkText;
    //   background-color: $darkDarker; //менять
    // }
  }
  &__left {
    &:nth-child(5n) {
      border-bottom: 3px solid #606060;
    }
  }
}

.game {
  border: 0;
  border-collapse: collapse;
  &__cell {
    cursor: pointer;
    &:nth-child(5n) {
      border-right-width: 3px;
    }
    &_black {
      background-color: var(--lightText);
    }
    &_cross {
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 4px;
        background: var(--lightText);
      }
      &:before {
        transform: translate(-50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%) rotate(-45deg);
      }
    }
  }
  &__row {
    &:nth-child(5n) {
      border-bottom: 3px solid #606060;
    }
  }
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #606060;
  border-collapse: collapse;
  text-align: center;
  font-size: 2rem;
}

.selection {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 200px;
  height: 30px;
  font-size: 20px;
  background-color: var(--lightButton);
  color: var(--lightText);
  border: 1px solid var(--lightText);
  border-radius: 15px;
  cursor: pointer;
  &:hover {
    background-color: var(--lightMain);
  }
  // &__dark {
  //   background-color: $darkButton;
  //   color: $darkText;
  //   // border-color: $darkText;
  //   &:hover {
  //     background-color: $darkMain;
  //   }
  // }
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 2rem;
  align-self: center;
  &__minutes:after {
    content: ":";
    position: absolute;
  }
}

.name {
  font-size: 2rem;
}

.results {
  font-size: 20px;
  &__cell {
    width: 200;
    padding: 5px;
    border: 1px solid var(--lightText);
  }
}

.gamefield {
  display: flex;
  gap: 50px;
  padding: 20px;
  background-color: var(--lightMain);
  border-radius: 20px;
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__dark {
    background-color: #505050;
  }
}

.size {
  position: relative;
  display: inline-block;
  border: 1px solid var(--lightText);
  height: 30px;
  border-radius: 15px;
  &__button {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    background-color: var(--lightButton);
    color: var(--lightText);
    height: 100%;
  }
  &:hover &__variants {
    display: block;
  }
  &__variants {
    display: none;
    border: 1px solid var(--lightText);
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    min-width: 200px;
    z-index: 1;
  }
  &__variant {
    background-color: var(--lightButton);
    padding: 5px 5px;
    display: block;
    cursor: pointer;
    &:hover {
      background-color: var(--lightMain);
    }
  }
}

.figures {
  &__list {
    list-style-type: none;
    display: flex;
    gap: 20px;
    &_button {
      &:hover {
        background-color: var(--lightMain);
      }
      color: var(--lightText);
      cursor: pointer;
      background-color: var(--lightButton);
      border: 1px solid var(--lightText);
      height: 30px;
      border-radius: 15px;
    }
  }
}

.arrow {
  width: 15px;
}

.bestResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: var(--lightMain);
  border-radius: 20px;
  &__tag {
    font-size: 20px;
    font-weight: 600;
  }
}
