.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  &__play-field {
    border: 2px solid black;
    &-container {
      min-width: 700px;
      height: 500px;
      border: 2px solid black;
    }
  }
  &__words-field {
    min-width: 700px;
    height: 50px;
    outline: 2px solid red;
    &_word {
      outline: 2px solid blue;
      background-color: rgb(250, 167, 167);
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
}
