.header {
  width: 95%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  outline: 2px solid #0482ff;
  padding: 5px 15px;
  border-radius: 10px;
  color: #1148d3;
  &__description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  &__button {
    padding: 5px;
    cursor: pointer;
    border: none;
    outline: 1px solid #0482ff;
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    color: #1148d3;
    &:hover {
      background-color: #559de6;
    }
  }
}

.footer {
  width: 95%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  outline: 2px solid #0482ff;
  padding: 5px 15px;
  border-radius: 10px;
  color: #1a1a1a;
  &__school {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  &__year {
    font-size: 20px;
    font-weight: 500;
  }
}
