* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  background-color: #E1D4C9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

/* ==== header ==== */

.header {
  padding-top: 20px;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  max-height: 60px;
}

.nav__list {
  display: flex;
  padding-bottom: 4px;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #403F3D;
}

.header__menu {
  height: 100%;
  display: flex;
  padding-bottom: 4px;
}

.header__link {
  margin-right: 8px;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #403F3D; 
}

.menu-link__logo {
  transform: translateY(-2px);
}

/* ==== main ==== */

/* ==== main -> hero ==== */

.content {
  padding-top: 20px;
}

.hero__image {
  position: relative;
  height: 644px;
  border-radius: 40px;
  padding: 100px;
  background-image: url(../img/hero-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}

.hero__text {
  max-width: 530px;
}

.hero__title {
  margin-bottom: 40px;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 75.6px;
  text-align: left;
  color: #E1D4C9;
}

.hero__title > em {
  font-style: oblique 8deg;
  color:#B0907A;
}

.hero__description {
  margin-bottom: 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #E1D4C9;
}

.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 20px 78px;
  background-color: #E1D4C9;
  border-radius: 100px;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #403F3D;
  text-align: center;
}

/* ==== main -> favorites ==== */

.favorites__title {
  margin-bottom: 40px;
  font-size: 60px;
  font-style: normal;
  line-height: 75px;
  text-align: center;
  color: #403F3D;
}

.favorites__title > em {
  font-style: oblique 8deg;
  color:#B0907A;
}

.favorites__slider{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.slider__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.slider__slide--2, .slider__slide--3 {
  display: none;
}

.slider__img {
  height: 480px;
  width: 480px;
  margin-bottom: 20px;
}

.slider__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  color: #403F3D;
  margin-bottom: 16px;
}

.slider__description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #403F3D;
  margin-bottom: 16px;
  max-width: 480px;
  text-align: center;
}

.slider__price {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height:30px;
  color: #403F3D;
}

.favorites__controls {
  display: flex;
  justify-content: center;
  position: static;
  height: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;
  top: 0;
}

.favorites__button {
  position: relative;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100px;
  border: 1px solid  #665F55;
  bottom: 20px;
}

.favorites__button--left {
  background-image: url('../img/arrow-left.svg');
  left: 4px;
}

.favorites__button--right {
  background-image: url('../img/arrow-right.svg');
  right: 4px;
}

.favorites__controls {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 12px;
}

.favorites__control {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #C1B6AD;
}

/* ==== main -> about ==== */

.about {
  padding-top: 100px;
  margin-bottom: 100px;
}

.about__title {
  color: #403F3D;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 75px;
  margin-bottom: 40px;
}

.about__title > em {
  color: #B0907A;
  font-style: oblique 8deg;
}

.about__images {
  display: flex;
  align-items: flex-start;
  gap: 40px
}

.about__images--column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.about__image--box-1 {
  max-width: 660px;
  max-height: 590px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.about__image--1 {
  object-fit: none;
  margin-top: -35px;
}

.about__image--box-2 {
  max-width: 660px;
  max-height: 430px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.about__image--2 {
  object-fit: none;
  margin-top: -115px;
}

.about__image--box-3 {
  max-width: 660px;
  max-height: 430px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.about__image--3 {
  object-fit: none;
  margin-top: -115px;
}

.about__image--box-4 {
  max-width: 660px;
  max-height: 590px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.about__image--4 {
  object-fit: none;
  margin-top: -35px;
}

/* ==== main -> about ==== */

.mobile {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
}

.mobile__title {
  color: #403F3D;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 75px;
}

.mobile__title > em {
  color:  #B0907A;
  font-style: oblique 8deg;
}

.mobile__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.mobile__advertising {
  color: #403F3D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.mobile__buttons {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.mobile__button {
  display: flex;
  width: 200px;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #665f55;
  background-color: #e1d4c9;
}

.mobile__text {
  display: flex;
  flex-direction: column;
  text-align: start;
  color: #403F3D;
  font-style: normal;
  font-weight: 600;
}

.mobile__text--top {
  font-size: 10px;
  line-height:  14px; 
}

.mobile__text--bottom {
  font-size: 16px;
  line-height: 24px;
}

/* ==== footer ==== */

.footer {
  padding-bottom: 20px;
}

.footer__container {
  display: flex;
  padding: 100px;
  align-items: center;
  gap: 100px;
  border-radius: 40px;
  background: #665F55;
}

.footer__offer {
  display: flex;
  flex-direction: column;
  max-width: 530px;
  gap: 40px
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 40px
}

.footer__title {
  color: #E1D4C9;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 75px;
}

.footer__title > em {
  color:  #B0907A;
  font-style: oblique 8deg;
}

.socials__list {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}

.socials__link {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.socials__link--tw {
  background-image: url(../img/twitter.svg);
  background-size: 24px;
}

.socials__link--inst {
  background-image: url(../img/instagram.svg);
  background-size: 24px;
}

.socials__link--fb {
  background-image: url(../img/facebook.svg);
  background-size: 24px;
}

.contacts__title {
  color: #E1D4C9;
  font-size: 24px;
  font-style: normal;
  line-height: 30px; 
}

.contacts__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.contacts__address {
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.contacts__address--link {
  color: #E1D4C9;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height:24px; 
}

.contacts__phone {
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.contacts__phone--link {
  color: #E1D4C9;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height:24px; 
}

.contacts__time {
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.contacts__time--link {
  color: #E1D4C9;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height:24px; 
}