* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  background-color: #E1D4C9;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

/* ==== header ==== */

.header {
  padding-top: 20px;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__burger {
  display: none;
}

.header__logo {
  max-height: 60px;
}

.nav__list {
  display: flex;
  padding-bottom: 4px;
}

.nav__item:not(:nth-last-child(2)) {
  margin-right: 40px;
}

.nav__link {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #403F3D;
}

.nav__item {
  position: relative;
}

.nav__item::after {
  content: "";
  display: block;
  width: 0; 
  height: 2px;
  background: #E1D4C9;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.nav__menu {
  display: none;
}

.open {
  display: flex !important;
}

.open__header {
  position: fixed;
}

.header__menu {
  position: relative;
  height: 100%;
  display: flex;
  padding-bottom: 4px;
  cursor: pointer;
}

.header__menu::after {
  content: "";
  display: block;
  width: 0; 
  height: 2px;
  background: #E1D4C9;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.header__link {
  margin-right: 8px;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #403F3D; 
}

.menu-link__logo {
  transform: translateY(-2px);
}

/* ==== main ==== */

/* ==== main -> hero ==== */

.content {
  padding-top: 20px;
}

.hero__video--box {
  position: relative;
  height: 644px;
  border-radius: 40px;
  overflow: hidden;
  margin-bottom: 100px;
}

.hero__video {
  display: block;
  height: 644px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.hero__text {
  max-width: 530px;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1;
}

.hero__title {
  margin-bottom: 40px;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 75.6px;
  text-align: left;
  color: #E1D4C9;
}

.hero__title > em {
  color:#B0907A;
}

.hero__description {
  margin-bottom: 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #E1D4C9;
}

.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 20px 78px;
  background-color: #E1D4C9;
  border-radius: 100px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #403F3D;
  gap: 8px;
}

.hero__button img {
  width: 0px;
  transition: width 0.5s ease-in-out;
}

/* ==== main -> favorites ==== */

.favorites__title {
  margin-bottom: 40px;
  font-size: 60px;
  font-style: normal;
  line-height: 75px;
  text-align: center;
  color: #403F3D;
}

.favorites__title > em {
  color:#B0907A;
}

.favorites__slider{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.slider__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  user-select: none;
}

/* .slider__slide--2, .slider__slide--3 {
  display: none;
} */ 

.slide__container{
  width: 480px;
  height: 640px;
  margin-bottom: 40px;
  overflow: hidden;
}

.slide__line {
  display: flex;
  flex-direction: row;
  width: 1440px;
  position: relative;
  left: 0;
  transform: translate3d(0px, 0px, 0px);
  transition: all ease 1s;
}

.slider__img {
  height: 480px;
  width: 480px;
  margin-bottom: 20px;
  pointer-events: none;
}

.slider__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  color: #403F3D;
  margin-bottom: 16px;
}

.slider__description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #403F3D;
  margin-bottom: 16px;
  max-width: 480px;
  text-align: center;
}

.slider__price {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height:30px;
  color: #403F3D;
}

.favorites__controls {
  display: flex;
  justify-content: center;
  position: static;
  height: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;
  top: 0;
}

.favorites__button {
  position: relative;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100px;
  border: 1px solid  #665F55;
  bottom: 20px;
  cursor: pointer;
  transition: background-color, 0.5s ease;
}

.favorites__button svg path {
  stroke: #403F3D;
}

.favorites__button--left {
  left: 4px;
}

.favorites__button--right {
  right: 4px;
}

.favorites__controls {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 12px;
}

/* .favorites__control:first-child {
  background: #665F55;
} */

/* .favorites__control--active {
  background: #665F55 !important;
} */

.favorites__control--progress {
  height: 100%;
  width: 0px;
  border-radius: 100px;
  background: #665F55 !important;
  transition: all 0.2s ease;
}

.favorites__control {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #C1B6AD;
  cursor: pointer;
  transition: background 0.5s ease;
}

/* ==== main -> about ==== */

.about {
  padding-top: 100px;
  margin-bottom: 100px;
}

.about__title {
  color: #403F3D;
  letter-spacing: -0.1px;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 75px;
  margin-bottom: 40px;
}

.about__title > em {
  color: #B0907A;
}

.about__images {
  display: flex;
  align-items: flex-start;
  gap: 40px
}

.about__images--column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.about__image--box-1 {
  max-width: 660px;
  max-height: 590px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.about__image--1 {
  transform: scale(1.1);
  margin-top: -35px;
  transition: transform 0.5s ease;
}

.about__image--box-2 {
  max-width: 660px;
  max-height: 430px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.about__image--2 {
  transform: scale(1.1);
  margin-top: -115px;
  transition: transform 0.5s ease;
}

.about__image--box-3 {
  max-width: 660px;
  max-height: 430px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.about__image--3 {
  transform: scale(1.1);
  margin-top: -115px;
  transition: transform 0.5s ease;
}

.about__image--box-4 {
  max-width: 660px;
  max-height: 590px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.about__image--4 {
  transform: scale(1.1);
  margin-top: -35px;
  transition: transform 0.5s ease;
}

/* ==== main -> about ==== */

.mobile {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
}

.mobile__title {
  color: #403F3D;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 75px;
}

.mobile__title > em {
  color:  #B0907A;
}

.mobile__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.mobile__advertising {
  color: #403F3D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.mobile__buttons {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.mobile__button {
  display: flex;
  width: 200px;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #665f55;
  background-color: #E1D4C9;
  cursor: pointer;
  transition: all 0.5s ease;
}

.mobile__text {
  display: flex;
  flex-direction: column;
  text-align: start;
  color: #403F3D;
  font-style: normal;
  font-weight: 600;
}

.mobile__text--top {
  font-size: 10px;
  line-height:  14px; 
}

.mobile__text--bottom {
  font-size: 16px;
  line-height: 24px;
}

/* ==== footer ==== */

.footer {
  padding-bottom: 20px;
}

.footer__container {
  display: flex;
  padding: 100px;
  align-items: center;
  gap: 100px;
  border-radius: 40px;
  background: #665F55;
}

.footer__offer {
  display: flex;
  flex-direction: column;
  max-width: 530px;
  gap: 40px
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 40px
}

.footer__title {
  color: #E1D4C9;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 75px;
}

.footer__title > em {
  color:  #B0907A;
}

.socials__list {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  cursor: pointer;
  transition: all 0.5s ease;
}

.contacts__title {
  color: #E1D4C9;
  font-size: 24px;
  font-style: normal;
  line-height: 30px; 
}

.contacts__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.contacts__address {
  position: relative;
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
}

.contacts__address::after {
  content: "";
  display: block;
  width: 0; 
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.contacts__address--link {
  color: #E1D4C9;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height:24px; 
}

.contacts__phone {
  position: relative;
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.contacts__phone::after {
  content: "";
  display: block;
  width: 0; 
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.contacts__phone--link {
  color: #E1D4C9;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height:24px; 
}

.contacts__time {
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.contacts__time--link {
  color: #E1D4C9;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height:24px; 
}

/* ==== media ==== */
/* ==== 768px ==== */

@media only screen and (max-width: 1439px) and (min-width: 1024px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1280px) {
  .mobile {
    flex-direction: column;
  }

  .footer__container {
    padding: 100px 60px;
    flex-direction: column;
    align-items: center;
  }

  .footer__offer {
    align-items: center;
  }
}

/* @media only screen and (max-width: 1024px) and (min-width: 769px) { */
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 90%;
  }

  /* .header__nav {
    right: -100%;
    transition: 0.4s;
  }

  .header__nav--active {
    right: 0
  }

  .header__menu {
    display: none;
  }

  .open__header {
    position: fixed;
    z-index: 50;
    width: 100%;
    background-color: #E1D4C9;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 50;
    top: 80px;
    right: -100%;
    background-color: #E1D4C9;
    padding-top: 80px;
    gap: 60px;
    transition: 0.4s;
  }

  .nav__list--active {
    right: 0;
  }

  .nav__menu {
    display: flex;
    padding-bottom: 4px;
    cursor: pointer;
    gap: 16px;
    padding-top: 40px;
  }

  .nav__menu--link {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
  }

  .nav__menu--logo {
    width: 40px;
    height: 40px;
  }

  .nav__item {
    margin: 0 !important;
  }

  .nav__link {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }

  .header__burger {
    position: relative;
    display: flex;
    flex-direction: column; 
    gap: 6px;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #665F55;
  }

  .header__burger--line {
    height: 2px;
    width: 18px;
    background-color: #403F3D;
    transition: all 0.4s ease 0s;
  }

  .header__burger--top {
    position: absolute;
    top: 16px;
  }

  .header__burger--bottom {
    position: absolute;
    bottom: 16px;
  }

  .header__burger--active > .header__burger--top {
    top: 20px;
    transform: rotate(45deg);
  }

  .header__burger--active > .header__burger--bottom {
    bottom: 20px;
    transform: rotate(-45deg);
  } */

  .hero__text {
    top: 100px;
    left: 60px;
    right: 60px;
  }

  .hero__button img {
    width: 20px;
    height: 20px;
  }

  .favorites__button--left {
    left: 0px;
  }

  .favorites__button--right {
    right: 0px;
  }

  .about__images {
    flex-direction: row;
  }

  .about__image--box-1 {
    max-width: 100%;
  }

  .about__image--1 {
    transform: scale(1.05);
    margin-top: -50px;
  }

  .about__image--box-2 {
    display: none;
  }

  .about__image--box-3 {
    display: none;
  }

  .about__image--box-4 {
    max-width: 100%;
  }
  
  .about__image--4 {
    transform: scale(1.05);
    margin-top: -50px;
  }

  .mobile {
    flex-direction: column;
  }

  .footer__container {
    padding: 100px 60px;
    flex-direction: column;
    align-items: start;
  }

  .footer__offer {
    align-items: start;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 688px;
    margin: 0 auto;
  }

  .header__nav {
    right: -100%;
    transition: 0.4s;
  }

  .header__nav--active {
    right: 0
  }

  .header__menu {
    display: none;
  }

  .open__header {
    position: fixed;
    z-index: 50;
    width: 100%;
    background-color: #E1D4C9;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 50;
    top: 80px;
    right: -100%;
    background-color: #E1D4C9;
    padding-top: 80px;
    gap: 60px;
    transition: 0.4s;
  }

  .nav__list--active {
    right: 0;
  }

  .nav__menu {
    display: flex;
    padding-bottom: 4px;
    cursor: pointer;
    gap: 16px;
    padding-top: 40px;
  }

  .nav__menu--link {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
  }

  .nav__menu--logo {
    width: 40px;
    height: 40px;
  }

  .nav__item {
    margin: 0 !important;
  }

  .nav__link {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }

  .header__burger {
    position: relative;
    display: flex;
    flex-direction: column; 
    gap: 6px;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #665F55;
  }

  .header__burger--line {
    height: 2px;
    width: 18px;
    background-color: #403F3D;
    transition: all 0.4s ease 0s;
  }

  .header__burger--top {
    position: absolute;
    top: 16px;
  }

  .header__burger--bottom {
    position: absolute;
    bottom: 16px;
  }

  .header__burger--active > .header__burger--top {
    top: 20px;
    transform: rotate(45deg);
  }

  .header__burger--active > .header__burger--bottom {
    bottom: 20px;
    transform: rotate(-45deg);
  }
  
  .header__menu {
    display: none;
  }
  
  .hero__button img {
    width: 20px;
    height: 20px;
  }

  .favorites__button--left {
    left: 0px;
  }

  .favorites__button--right {
    right: 0px;
  }

  .about__images {
    flex-direction: column;
  }

  .about__image--box-1 {
    max-width: 100%;
  }

  .about__image--1 {
    transform: scale(1.05);
    margin-top: -50px;
  }

  .about__image--box-2 {
    display: none;
  }

  .about__image--box-3 {
    display: none;
  }

  .about__image--box-4 {
    max-width: 100%;
  }
  
  .about__image--4 {
    transform: scale(1.05);
    margin-top: -50px;
  }

  .mobile {
    flex-direction: column;
  }

  .footer__container {
    padding: 100px 60px;
    flex-direction: column;
    align-items: start;
  }
}

@media only screen and (max-width: 767px) and (min-width: 381px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .hero__video--box {
    max-height: 552px;
  }

  .hero__text {
    top: 60px;
    left: 16px;
    right: 16px;
  }

  .hero__title {
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
  }

  .favorites__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }

  .favorites__slider {
    justify-content: center;
  }

  .favorites__button {
    display: none;
  }

  .slider__img {
    height: 100%;
  }

  .slide__line {
    width: 1044px;
  }

  .slide__container {
    width: 348px;
  }

  .about__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }

  .about__images--column {
    width: 100%;
  }

  .about__image--box-1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 590px;
  }

  .about__image--1 {
    position: absolute;
    top: 295px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 726px;
    height: 726px;
    object-fit: cover;
    margin-top: 0;
  }

  .about__image--box-4 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 590px;
  }

  .about__image--4 {
    position: absolute;
    top: 295px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 726px;
    height: 726px;
    object-fit: cover;
    margin-top: 0;
  }

  .mobile {
    gap: 40px;
  }

  .mobile__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;    
  }

  .mobile__description {
    width: 100%;
  }

  .mobile__buttons {
    flex-direction: column;
  }

  .footer {
    padding-left: 16px;
    padding-right: 16px;
  }

  .footer__container {
    padding: 60px 16px;
    gap: 40px;
  }

  .footer__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }

  .footer__offer {
    align-items: start;
  }
}

@media (max-width: 380px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .hero__video--box {
    max-height: 552px;
  }

  .hero__text {
    top: 60px;
    left: 16px;
    right: 16px;
  }

  .hero__title {
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
  }

  .favorites__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }

  .favorites__button {
    display: none;
  }

  .slider__img {
    height: 100%;
  }

  .slide__line {
    width: 1044px;
  }

  .about__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }

  .about__images--column {
    width: 100%;
  }

  .about__image--box-1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 590px;
  }

  .about__image--1 {
    position: absolute;
    top: 295px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 726px;
    height: 726px;
    object-fit: cover;
    margin-top: 0;
  }

  .about__image--box-4 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 590px;
  }

  .about__image--4 {
    position: absolute;
    top: 295px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 726px;
    height: 726px;
    object-fit: cover;
    margin-top: 0;
  }

  .mobile {
    gap: 40px;
  }

  .mobile__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;    
  }

  .mobile__description {
    width: 100%;
  }

  .mobile__buttons {
    flex-direction: column;
  }

  .footer {
    padding-left: 16px;
    padding-right: 16px;
  }

  .footer__container {
    padding: 60px 16px;
    gap: 40px;
  }

  .footer__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }

  .footer__offer {
    align-items: start;
  }
}

@media only screen and (max-width: 379px) and (min-width: 320px) {
  .hero__title {
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
  }
}

@media (hover: hover) {
  .header__menu:hover::after {
    width: 100%;
    background: #403F3D;
  }

  .hero__button:hover img {
    width: 20px;
  }

  .nav__item:hover::after {
    width: 100%;
    background: #403F3D;
  }

  .favorites__button:hover {
    background-color: #665F55;
  }
  
  .favorites__button:hover svg path {
    stroke: #E1D4C9;
  }

  .favorites__control:hover {
  background: #665F55;
  }

  .about__image--1:hover {
    transform: scale(1.0);
  }

  .about__image--2:hover {
    transform: scale(1.0);
  }

  .about__image--3:hover {
    transform: scale(1.0);
  }

  .about__image--4:hover {
    transform: scale(1.0);
  }

  .mobile__button:hover {
    background-color: #665F55;
  }
  
  .mobile__button:hover svg path {
    fill: #E1D4C9;
  }
  
  .mobile__button:hover .mobile__text {
    color: #E1D4C9;
  }

  .socials__link:hover {
    background: #E1D4C9;
  }
  
  .socials__link:hover svg path {
    stroke: #403F3D;
  }

  .contacts__address:hover::after {
    width: 100%;
    background: #E1D4C9;
  }

  .contacts__phone:hover::after {
    width: 100%;
    background: #E1D4C9;
  }
}