.winners {
  display: flex;
  visibility: hidden;
  height: 0px;
  flex-direction: column;
  overflow: hidden;
  &__table {
    height: 100%;
    border-collapse: collapse;
    width: 500px;
    flex-direction: column;
  }
  &__name {
    font-size: 22px;
  }
  &__pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    &_button {
      padding: 5px;
      border-radius: 10px;
      border: none;
      background-color: rgb(255, 255, 255);
      cursor: pointer;
      &:hover {
        background-color: rgb(105, 225, 54);
      }
    }
  }
}

.table {
  margin-top: 20px;
  &__head {
    background-color: rgb(105, 225, 54);
    &_cell {
      border: 2px solid black;
      padding: 8px;
      text-align: center;
    }
    &_wins {
      cursor: pointer;
      gap: 10px;
    }
    &_time {
      cursor: pointer;
    }
  }
  &__cell {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
  }
}

.disabled {
  pointer-events: none;
  &:hover {
    background-color: rgb(255, 255, 255);
  }
}
