.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  gap: 30px;
  &__logo {
    padding: 0px;
    margin: 0px;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  &__button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    &:hover {
      background-color: rgb(105, 225, 54);
    }
  }
}
